@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


<div class="row m-0 hero-back-image">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 home-hero-hieght container-fluid  align-content-center">
        <div class="center-v ">
            <div>
                <p class="display-3 fw-bolder animate-charcter"> ABC Learning</p>
                <p class="display-6 text-black-50">Institute Management Portal</p>
                
            </div>
            
        </div>
       
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 home-hero-right">

        <div class="p-5 ">
            <p class="fs-4 fw-lighter text-white">
				Welcome to the ABC Learning  Admin Portal – Your Central Hub for Streamlined Management and Empowered Control.
                As the backbone of our institute, this portal is designed to enhance administrative efficiency, providing a seamless experience for overseeing operations, 
                monitoring progress, and optimizing resources.</p>

            <p class="fs-4 fw-lighter text-white">At ABC Learning, we understand the critical role of administration in ensuring a smooth and successful educational environment. 
                Our Admin Portal empowers administrators with intuitive tools and real-time insights to facilitate smart decision-making and strategic planning.</p>
			
            <p class="fs-4 fw-lighter text-white">Explore the functionalities of our Admin Portal, from user management to data analytics, and discover how it can elevate your 
                administrative capabilities. Join us in embracing the future of efficient institute management.</p>
			
            <p class="fs-4 fw-lighter text-white">Your journey to empowered administration begins here at the ABC Learning Admin Portal – where control meets convenience.</p>

            

        </div>
    </div>
</div>