@page
@model institute_management.Pages.course_pg.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="p-5">
	<h1>Edit</h1>

	<h4>course</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="course.CourseID" />
				<div class="form-group">
					<label asp-for="course.CourseName" class="control-label"></label>
					<input asp-for="course.CourseName" class="form-control" />
					<span asp-validation-for="course.CourseName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="course.LectureName" class="control-label"></label>
					<input asp-for="course.LectureName" class="form-control" />
					<span asp-validation-for="course.LectureName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-page="./Index">Back to List</a>
	</div>

	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}

</div>

